

html body {
  width: 400px;
  height: 300px;
}

.main {
  width: 300px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}




/** global style **/
.text {
  width: 280px;
  height: 28px;
  margin-bottom: 10px;
}




/** message_box **/
#message_box {
  
}




/** init view **/

#init_view {
  
}

#init_view label {
  display: block;
}

#init_view #salt_in {
  display: block;
  margin-bottom: 10px;
}




/** generator **/
#generator_view {

}

#generator_view input {
  display: block;
  margin-bottom: 10px;
}
