

html body {
  width: 450px;
  height: 330px;
}

.main {
  width: 400px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}




/** global style **/
.text {
  width: 280px;
  height: 28px;
}

.input_field {
  margin: 15px 0px;
}

.submit_input {
  margin-left: 200px;
}

.btn {
  padding: 5px 12px;
}

label {
  display: inline-block;
  min-width: 80px;
}


/** message_box **/
#message_box {
  color: red;
}




/** init view **/

#init_view {
  
}

#init_view label {
  display: block;
}

#init_view #salt_in {
  display: block;
  margin-bottom: 10px;
}




/** generator **/
#generator_view {

}

#generator_view .pwd_range {
  padding: 10px 0px 0px 20px;
}

#generator_view .small_label {
  min-width: 20px;
}


